<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>PS21436 - Đào Khải Minh</title>
    <link rel="stylesheet" href="./form.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.9/angular.min.js"> </script>

</head>

<body ng-app="ctrl">
    <div class="a">
        <form action="" name="frm" ng-controller="hienthi">
            <h1 style="text-align:center;padding-top: 10%;">ĐĂNG KÝ THÀNH VIÊN</h1>
            <span>Mã sinh viên</span>
            <input type="text" name="masv" ng-model="masv" maxlength="5" required>
            <div id="loi" ng-if="frm.masv.$invalid">Vui lòng không bỏ trống bạn ơi <br> Nhớ nhập 5 ký tự thôi nhé</div>
            <span>Họ và tên</span>
            <input type="text" required name="ten" ng-model="ten" minlength="3" required>
            <div id="loi" ng-if="frm.ten.$invalid">Vui lòng không bỏ trống bạn ơi <br> Nhập cho đúng tên nha</div>
            <span>Email</span>
            <input type="email" required name="mail" ng-model="mail">
            <div id="loi" ng-if="frm.mail.$invalid">Vui lòng không bỏ trống bạn<br> Nhập cho đúng định dạng mail</div>
            <span>Giới tính</span>
            <fieldset>
                <input type="radio" name="gender" value="nam" ng-model="gender" required>Nam
                <input type="radio" name="gender" value="nu" ng-model="gender" required>Nữ
                <div id="loi" ng-if="!gender">Vui lòng chọn 1 trong 2</div>
            </fieldset>
            <span>Sở thích</span>
            <fieldset>
                <input type="checkbox" name="enjoy" ng-model="book" id="st" required>Đọc sách
                <input type="checkbox" name="enjoy" ng-model="tl" id="st" required>Du lịch
                <input type="checkbox" name="enjoy" ng-model="fd" id="st" required>Ẩm thực
                <input type="checkbox" name="enjoy" ng-model="mc" id="st" required>Âm nhạc
                <input type="checkbox" name="enjoy" ng-model="dif" id="st" required>Khác
                <div id="loi" ng-if="!book && !tl && !fd && !mc && !dif">Vui lòng chọn 1 hoặc nhiều hơn</div>
            </fieldset>
            <span>Quốc tịch</span>
            <select name="qt" ng-model="qt" required>
                <option value="">Chọn quốc tịch</option>
                <option value="Việt Nam">Việt Nam</option>
                <option value="Mỹ">Mỹ</option>
                <option value="Anh">Anh</option>
                <option value="Hàn Quốc">Hàn Quốc</option>
            </select>
            <div id="loi" ng-if="!qt">Vui lòng chọn quốc tịch</div>
            <span>Ghi chú</span>
            <textarea cols="30" rows="10" name="gc" ng-model="gc"></textarea>
            <button ng-click="dangki()">Đăng kí</button>
            <div class="rong">{{dk}}</div>
        </form>
    </div>
    <script>
        app = angular.module("ctrl", []);
        app.controller("hienthi", xuly);
        function xuly($scope){
            $scope.dk="";
            function dangki(){
            }
        }     
    </script>
</body>

</html>